@import 'react-kuic/lib/KuicVariables.css';

.StoreLocator, .StoreLocator * {
  box-sizing: border-box;
}

.StoreLocator {
  display: block;
  padding: 3vw;
  color: var(--color-blue2);
}

.StoreLocator-input > input {
  width: 100%;
}
